DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/qurato"

NA_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

YOUTUBE_API_KEY=

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here